html, body {width:100%;margin:0;padding:0;}

.my-flex-container {margin-top: 50px; margin-bottom: 50px; background-color: #f9f9f9; border-radius: 10px;}
.my-flex-container-2 .tmp{
  width: 250px;
  text-align: center;
  height: 250px;
  margin: 0 auto;
}
.container {
  padding-top: 20px;
}
.my-flex-container-2 .tmp + p {
  text-align: center;
  margin-top: 20px;
}
.text{margin: 55px 0;}

header{min-height: 100px; box-shadow:  0px 20px 10px rgba(255,255,255,0.15); border-radius: 10px 10px 0 0;}

.tmp {background-position: center; background-size: cover;border-radius: 200px; border: 0px solid white; box-shadow: 0 0 7px #666;}
.tmp-1{background-image: url("../images/1.jpg");}
.tmp-2{background-image: url("../images/2.jpg");}
.tmp-3{background-image: url("../images/3.jpg");}

.rr{margin-bottom: 45px;}
.tmp-p{background-image: url("../images/1.png");}
.tmp-p-2{background-image: url("../images/2.png");}
.tt{width: 200px; height: 200px;margin: 0 auto 10px;}
.xx{text-align: center;}
/*Убрать стрелочки в input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
/*----------Fonts--------------*/

.scroll{
  margin: 20px auto;
  width: 450px;
  text-align: right;
  height: 400px;
  border-radius: 5px;
  box-shadow:  0 0 8px rgba(0,0,0,0.1);
  background: #fff; /* цвет фона, белый */
  border: 1px solid #ECECEC; /* размер и цвет границы блока */
  overflow-x: none;
  overflow-y: scroll;
  direction:ltr;
}
.scroll form{margin-right: 15px;}
body {scrollbar-face-color: #b46868;}
::-webkit-scrollbar {width: 8px; } /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.2); border-radius: 15px;} /* this will style the thumb, ignoring the track */

/* ::-webkit-scrollbar-track {background-color: #b46868; border-radius: 10px;} */
 /* the new scrollbar will have a flat appearance with the set background color */
/* ::-webkit-scrollbar-button {background-color: #7c2929;border-radius: 10px;} */
 /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
/* ::-webkit-scrollbar-corner {background-color: black;} */
 /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

/*************************/
a  {font-size:16px;font-family: 'SegoeUILight';}
p  {font-size:16px;font-family: 'SegoeUILight';}
h1 {font-size:30px;font-family: 'SegoeUILight';}
h2 {font-size:25px;font-family: 'SegoeUILight';}
h3 {font-size:20px;font-family: 'SegoeUILight';}
h5 {font-size:16px;font-family: 'SegoeUILight';}
ul {font-size:16px;font-family: 'SegoeUILight';}

.logo {font-variant: small-caps; }


/*адаптив*/

/* @media screen and (max-width:1320px){
.container {width: 900px;position: relative;}
.rotator {width: auto;}
.rotator img {width:100%; height: 640px;}
} */
/*1320*/

/* @media screen and (max-width:1000px){
.container {width: 900px;}
.rotator img {width: 900px; height: 640px;}.
} */
/*970*/

/* @media screen and (max-width:860px){
.container {width: 100%;position: relative;margin: auto;}
.rotator {height: 500px;width: auto;}
.rotator img {width: 100%; height: 500px;}
} */
/*860*/

/* @media screen and (max-width:600px){
.container {width: 650px}
} */
/*600*/
