
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Вакуумная формовка пластика | Формовка пластика в Москве</title>
    <meta charset="UTF-8">
    <meta name="description" content="Методом вакуумной формовки пластика изготавливаем изделия для различных применений в Москве, делаем моделирование 3D форм." />
    <meta name="keywords" content="вакуумная формовка пластика, вакуумная формовка в Москве, формовка пластика, формовка полистирола, формовка оргстекла, формовка ПВХ, изготовление форм для вакуумной формовки." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="yandex-verification" content="956626bbf9b8f0d0" /> -->
    <meta name="yandex-verification" content="97462dcec2c7ff5e" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./css/templatemain.css" />
    <link rel="stylesheet" href="./css/stylename.css" />
    <link rel="stylesheet" href="./css/media.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <div class="my-flex-container container">
    <header class="d-flex flex-row row">
          <div class="my-auto mr-auto col-lg-10 col-md-9 col-sm-12 alcp">
            <h1 class="logo">вакуумная-формовка.москва</h1>
            <h5>вакуумная формовка | изготовление форм | формовка пластика</h5>
          </div>
          <!-- <nav class="my-auto mr-4">
            <!-- <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Support</a>
          </nav> -->
          <nav class="my-auto col-lg-2 col-md-3 col-sm-12 alcp">
            <p>8-917-589-84-06</p>
            <p>forma_msk@mail.ru</p>
            <!-- {% if username %}
              <a class="btn btn-outline-primary" href="/auth/logout/">Выйти ({{username}})</a>
            {% else %}
              <a class="btn btn-outline-primary" href="/auth/login/">Заказать</a>
            {% endif %} -->
          </nav>



      </header>
      <main class="d-flex flex-column">
          <div class="row d-flex flex-row justify-content-around my-flex-container-2">
              <div class="col-lg-4 col-md-4">
                <div class="tmp tmp-1">
                  <!-- <img src="{% static 'main/images/1.jpg' %}" width="250" alt=""> -->
                </div>
                <p>Разработка и изготовление форм</p>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="tmp tmp-3">
                  <!-- <img src="{% static 'main/images/1.jpg' %}" width="250" alt=""> -->
                </div>
                <p>ЧПУ фрезеровка</p>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="tmp tmp-2">
                  <!-- <img src="{% static 'main/images/1.jpg' %}" width="250" alt=""> -->
                </div>
                <p>Формовка пластика</p>
              </div>
          </div>

    <div class="d-flex flex-column text">
      <h2>Вакуумная формовка пластика</h2>
      <h2>Разработка 3D модели формы для формовки пластика</h2>
      <p>При создании <strong>3D модели формы</strong> нужно учитывать - особенности <strong>вакуумной формовки</strong>,
        используемый материал для формования и материал из которого изготовлена форма и конечно же – тираж,
        при больших тиражах форма из клееного ДСП не подходит т.к. быстро изнашивается.
      Стоимость разработки 3D модели формы зависит от сложности формы, диапазон цены от 1000 рублей до 5000 рублей.</p>

      <h2>Фрезеровка формы для вакуумной формовки</h2>
      <p>Нужно понимать, из какого материала будет сделана форма и какое количество форм нужно изготавить.
      <b>Форму можно изготовить из клееного ДВП</b> в случае маленького тиража или из алюминия для больших тиражей.
      Количество форм будет зависить от рабочего поля вакуумного формовщика и от высоты самой формы. При недостаточном количестве форм, будет оставаться много неиспользованного материала.
      Стоимость <strong>фрезеровки формы</strong> зависит от сложности модели и от материала из которого будет изготовлена форма, поэтому стоимость рассчитывается индивидуально по запросу. </p>

      <h2>Вакуумная формовка пластика, материалы, сферы применения</h2>
      <p><strong>Материалы для вакуумной формовки</strong>: АБС пластик, Поливинилхлорид, Полипропилен, Полистирол, Полиметилметакрилат (ПЭТ), Поликарбонат, Оргстекло.
      <strong>Сферы применения вакуумной формовки</strong>: Реклама, Строительство, Прототипирование, Мелкосерийное производство.</p>

      <h2>Обработка формованного пластика</h2>
      <p>Последний этап в <strong>процессе формовки пластика</strong> и изготовления формованных изделий.
      Нужно аккуратно обрезать лишний пластик, обработать края если требуется, окрасить формованное изделие.</p>

      <h2>Стоимость вакуумной формовки пластка</h2>
      <p>
          Для рабочего поля размеров 1м Х 1м при формовке пластика толщиной 4-5 мм, стоимость одного цикла формования составит 600 руб.
          Цикл включает в себя:
      </p>
      <ul>
        <li>Прогрев формы</li>
        <li>Установка материала для формовки</li>
        <li>Нагрев материала</li>
        <li>Термоформование материала</li>
      </ul>
      <h2>Оформить заказ на вакуумную формовку</h2>
      <p>Для расчета <strong>стоимости вакуумной формовки</strong> необходимо:</p>
      <ul>
        <li>Вид формы (3D модель или чертеж от руки);</li>
        <li>Количество формованных изделий;</li>
        <li>Тип материала(ПЭТ, ПВХ, полистирол, акрил и т.д.);</li>
        <li>Постобратка формы(да/нет);</li>
      </ul>
      <p>По всем вопросам WhatsApp, Viber, Telegram — 8-917-589-84-06 Алексей</p>
    </div>

      <h3 class="d-flex justify-content-around rr">Проекты</h3>
    <div class="d-flex flex-row justify-content-around xx row">

      <div class="col-sm-12 col-md-6">
      <div class="tmp tmp-p tt">
        <!-- <img src="{% static 'main/images/1.jpg' %}" width="250" alt=""> -->
      </div>
      <p><a href="http://znakpg.ru">Световой указатель <br> пожарного гидранта</a></p>
      </div>

     <div class="col-sm-12 col-md-6">
      <div class="tmp tmp-p-2 tt">
        <!-- <img src="{% static 'main/images/1.jpg' %}" width="250" alt=""> -->
      </div>
      <p><a href="http://3d-plakat.ru">3D плакаты</a></p>
      </div>

    </div>

   </main>
  </div>
 </body>
</html>
